.btnWrapper{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.prevBtn, .nextBtn, .btn{
    width: 40px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #DFE3E8;
    border-radius: 6px;
    font-weight: 700; 
    color: #212B36;
    font-size: 20px;
    display: grid;
    place-items: center;
  
}

.prevBtn, .nextBtn{
    font-size: 28px;
}
.disabled{
    cursor: no-drop;
    background-color: #919EAB;
    color: #C4CDD5;
}
.active{
    border-color: #4200FF;
    color: #4200FF;
}