.container {
  display: flex;
}
.sidebar {
  width: 25%;
}
.main {
  width: 75%;
}
.customToast{
  background-color: transparent;
  text-align: center;
  overflow: hidden;
  border: 1px solid #1B48DA;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
}


.navContainer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: none;
}

.content {
  background-color: #f1f1f1;
  width: 100%;
  height: calc(100vh - 80px);
}

.tableContainer {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: block;
  white-space: nowrap;
  overflow: auto;
}
.table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border-radius: 16px;
  overflow: hidden;
}

.th {
  background-color: #f3f7fd;
  color: #3b3c51;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 8px 20px 20px;
}
.tbody {
  background-color: #fff;
}
.td {
  text-align: center;
  padding: 10px 8px 10px 20px;
  font-size: 14px;
  color: #3b3c51;
  font-weight: 500;
  border: 0.5px solid #f8f8f8;
  border-left: none;
}

.wrap,
.tdWrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tdWrap {
  width: 200px;
  position: relative;
  overflow: hidden;
}
.copyIcnBtn {
  position: absolute;
  right: 0;
  background-color: #fff;
}
.iconBtn,.copyIcnBtn {
  cursor: pointer;
}
.iconWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* RESPONSIVNESS */

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar {
    display: none;
    width: 100%;
  }
  .navContainer {
    height: auto;
    margin-bottom: 16px;
  }
  .main {
    width: 100%;
  }
  .tableContainer {
    padding: 32px 8px;
    max-height: 300px;
  }
}
