.btnContainer{
    display: flex;
    gap: 24px;
}
.btnLogin,.btnSignup{
    cursor: pointer;
}
.btnSignup {
    border: none;
    background-color: transparent;
    color: #3b3c51;
    font-size: 16px;
    font-weight: 600;
  }
  .btnLogin {
    background-color: #1b48da;
    border: none;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
  }
  @media(max-width: 380px) {
    .btnContainer{
      gap: 8px;
    }
  }